/*
    main specific
*/

#map-box {
  padding-top: 20px;
  padding-bottom: 20px;
  height:600px;
  width: 100%;
}

#map {
    width:100%;
    height: 100%;
}

.map-cont {
  margin-top:20px;
  background-color: #CCCCCC;
}

.legend {
  background: #fff;
  padding: 5px;
}

.legend h6 {
  text-align:center;
}

.legend.hidden-xs {
  width:300px;
  margin: 10px;
  z-index: 0;
  position: absolute;
  bottom: 13px;
  left: 8px;
}

.hidden-md .legend {
    padding-top: 10px;
    margin-top: -20px;
}

.map-info-text-container {
    margin-left: calc(50% - 115px);
    font-size: 20px;
    font-weight: bold;
    color: #CCCCCC;
    text-shadow: -1px -1px #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    position: absolute;
    top: 20px;
    text-align: center;
}

#map-live-container {
    padding: 3px;
    background-color: white;
    font-weight: bold;
    position: absolute;
    top: 30px;
    right: 30px;
}

.blinker {
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
    from { opacity: 1; }
    to { opacity: 0; }
}

.leg-gradient {
    width: 88%;
    height: 1.8em;
    position: relative;
    top: 1em;
    padding-bottom:3em;
    margin-left: 12%;
    margin-bottom: 2em;
    border-top: 1px solid #777777;
    border-bottom: 1px solid #777777;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#19ff00+1,fff600+48,ff0707+94 */
    background: #19ff00; /* Old browsers */
    background: linear-gradient(to right,  #19ff00 1%,#fff600 48%,#ff0707 94%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19ff00', endColorstr='#ff0707',GradientType=1 ); /* IE6-9 */
}

.leg-label {
    margin-left: -12%;
    font-weight: bold;
    font-size: 8px;
    text-align:center;
}

.leg-above {
    position: absolute;
    top: -1.4em;
}

.leg-middle {
    position: absolute;
    top: 0.9em;
}

.leg-below {
    position: absolute;
    bottom: -1.4em;
}

.leg-left {
    position: absolute;
    left: 5px;
}

.leg-mid {
    position: absolute;
    left: 42%;
}

.leg-midval {
    position: absolute;
    left: 49%;
}

.leg-right {
    position: absolute;
    right: 5px;
}


/*chart loader*/
.loader {
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-left:calc(50% - 60px);
}
#map-loader.loader {
    border-top: 25px solid #FF0000;
    border-right: 25px solid #FFA000;
    border-bottom: 25px solid #E0FF00;
    border-left: 25px solid #00FF00;
    position: absolute;
    z-index: 3;
    vertical-align: middle;
    top: calc(50% - 75px);
    margin-left: calc(50% - 75px);
    width: 150px;
    height: 150px;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*
    login-specific
*/
#register-link {
  text-align: center;
}
#login-form{
  margin-top: 100px;
  margin-bottom: 100px;
}

/*
    cross-site
*/
h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: bolder;
}

.centered-fg {
  height:40px;
  line-height:40px;
  text-align:center;
  vertical-align:middle;
}


.airmap-container{
    background: #ffffff;

}
.airmap-title{
    margin-top: 30px;
    margin-bottom: 15px;
}
.airmap-typo{
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}
.airmap-typo .tim-note{
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}
.airmap-row{
    padding-left:15px;
    padding-right:15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.airmap-row h3{
    margin-top: 0;
}
.switch{
    margin-right: 20px;
}
#navbar-full .navbar{
    border-radius: 0 !important;
    margin-bottom: 0;
}
.navigation-example{
    margin-top: 0px;
}
.space{
    height: 130px;
    display: block;
}
.navigation-example .img-src{
    background-attachment: scroll;
}
.main{
    background-color: #FFFFFF;
}
.navigation-example{
    height: 660px;
    background-image: url('../img/bg.jpg');
    background-position: center center;
    background-size: cover;
    position: relative;
}
#notifications{
    background-color: #FFFFFF;
    display: block;
    width: 100%;
    position: relative;
}
.airmap-note{
    text-transform: capitalize;
}

.card{
    background-color: #FFFFFF;
    padding: 10px 0 20px;
    width: 100%;
}
.card h3{
    margin-bottom: 20px;
}
.card button{
    margin-top: 30px;
}
.subscribe-form{
    padding-top: 20px;
}
.subscribe-form .form-control{

}

.space-100{
    height: 100px;
    display: block;
    width: 100%;
}

.be-social{
    padding-bottom: 20px;
/*     border-bottom: 1px solid #aaa; */
    margin: 0 auto 40px;
}
.txt-white{
    color: #FFFFFF;
}
.txt-gray{
    color: #ddd !important;
}
.footer{
    background-color: #DDDDDD;
    background-image: url('../img/cover_4_blur.jpg');
    background-attachment: fixed;
    position: relative;
}
.heart{
    color: #FF3B30;
}
.footer .overlayer{
    background-color: rgba(27, 27, 27, 0.7);
    position: relative;
}
.footer .credits {
    margin-top: 25px;
    padding: 20px 0 15px;
    text-align: center;
    color: #EEE;
}
.footer .credits a{
    color: #FFFFFF;
}
.social-share{
    float: left;
    margin-right: 8px;
}
.social-share a{
    color: #FFFFFF;
}
#subscribe_email{
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}
.pick-class-label{
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    display: inline;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    margin-right: 10px;
    padding: 15px 23px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.parallax-pro{
  width:100%;
  display: block;
  position: relative;
  background-color: #000;
}
.parallax-pro > .img-src{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;

}
.parallax-pro:after{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    display: block;
    content: "";
    z-index: 0;
}
.parallax-pro .container{
    padding-top: 20px;
    z-index: 1;
    position: relative;
}
.parallax-pro .hello a{
    color: #fff;
    text-decoration: none;
}
.parallax-pro .hello{
    font-size: 48px;
    font-weight: 300;
    position: relative;
/*     width: 430px; */
    margin: 30px auto 50px;
}
.parallax-pro .label{
    font-size: 18px;
    position: absolute;
    text-transform: uppercase;
    background-color: #FF9500;
    color: #FFFFFF;
    width: 60px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 0;
    line-height: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0;
}
.parallax-pro small{
    padding-top: 15px;
    font-size: 20px;
    display: block;
    color: #fff;
}
.parallax-pro ul{
     width: 280px;
    margin: 0 auto;
}
.parallax-pro li{
    padding: 9px 0;
    border-bottom: 1px solid #777;
}
.parallax-pro .actions{
    margin-top: 40px;
}
.parallax-pro .actions{
    margin-left: 10px;
}
.parallax-pro .motto{
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 600;
    position: relative;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.27);
    text-transform: uppercase;
    z-index: 3;
    margin: 0 auto;
    top: 22%;
    width: 285px;
}
.parallax-pro .motto .pro{
    position: absolute;
    font-size: 18px;
    background-color: #FFFFFF;
    width: 100px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    color: #333333;
    text-shadow: 0 0 0;
}
.parallax-pro .motto .square{
       padding: 7px 14px;
    height: auto;
    width: auto;
    line-height: inherit;
    border-radius: 6px;
    bottom: 22px;
    right: -25px;
    color: #FFFFFF;
    background-color: #ff9500;
    font-weight: 300;
    background-color: #ff9500;
}
.social-share{
    margin-right: 0px;
    margin-top: 10px;
}
.footer h4{
    margin: 0px 0 20px;
}
.space-30{
    height: 30px;
    display: block;
}
.credits{
    display: block;
    margin: 15px 0;
    color: #ddd;
    opacity: .8;
}
.credits a{
    color: #FFFFFF;
}
.sharing-title{
    margin: 10px;
    line-height: 40px;
}
.social-line{
    padding: 5px 0;
}
.section-gray{
    padding: 10px 0;
    background-color: #EEE;
}
.section-gray h5{
    margin: 0;
    line-height: 40px;
}

/*   EXTRA SHIT  */
/* @cristina: fisier singular, folosit pentru efectul de blur la parallax in header */

.blurred-container{
  position:relative;
  width:100%;
  height:540px;
  top:0;
  left:0;
}
.blurred-container > .img-src{
    position:fixed;
    width:100%;
    height:540px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;
}
.blur{
  opacity:0;
}

.logo-container{
    margin-top: 10px;
}
.logo-container .logo{
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #333333;
    height: 50px;
    width: 50px;
    float: left;
}
.logo-container .logo img{
    width: 100%;
}
.logo-container .brand{
    font-size: 18px;
    color: #FFFFFF;
    float: left;
    height: 50px;
    line-height: 20px;
    margin-left: 10px;
    margin-top: 5px;
    width: 60px;
}
.blurred-container .motto{
    color: #FFFFFF;
    font-size: 76px;
    font-weight: 600;

    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
    text-transform: uppercase;
    top: 100px;
    z-index: 3;

    display: block;
    margin: 0 auto;
    position: relative;
    width: 306px;
    height: 0;
}
.blurred-container .motto .border{
    float: left;
    border: 3px solid #FFFFFF;
    padding: 0px 30px;
    text-align: center;
}
.blurred-container .motto .no-bottom-border{
    border-bottom: none;
}
.blurred-container .motto .no-top-border{
    border-top: none;
}
@media (max-width: 768px){
    .blurred-container .motto{
        font-size: 60px;
        width: 268px;
        top: 130px;
    }
}
.main{
    background-color: #FFFFFF;
    position: relative;
}

#buttons .btn, #tooltips .btn{
    margin-bottom: 15px;
}
.btn.disabled {
    background-color: #888888;
    border-color: #888888;
    color: #333333;
}
.img-dog{
    display: inline-block;
    margin-bottom: 25px;
}

#map-loading-overlay {
    background-color: #cccccc;
    z-index: 3;
    position: absolute;
    height: 600px;
    opacity: .7;
    width:100%;
}
