<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>About AirMap</title>
    <meta name="description" content="">
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <!-- bootstrap -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'aircloud/css/bootstrap.min.css' %}">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- Custom styles for this template -->
    <link href="{% static 'aircloud/css/gsdk.css' %}" rel="stylesheet">
    <link href="{% static 'aircloud/css/airmap.css' %}" rel="stylesheet">
    <!--     Font Awesome     -->
    <link href="{% static 'aircloud/css/bootstrap/font-awesome.css' %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
    </script>

</head>
<body>
<div id="navbar-full">
  <div class="container">
    <nav class="navbar navbar-ct-blue navbar-transparent navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#">
            <div class="logo-container">
              <div class="logo">
                <img src="{% static 'aircloud/img/airmap.png' %}"></a>
              </div>
              <div class="brand">
                <br>AirMap
              </div>
            </div>
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="..">Home</a></li>
            <li><a href="../about/">About</a></li>
            {% if username %}
            <li><a href="../login/" class="btn btn-round btn-default">Logged in as {{ username }}</a></li>
            {% else %}
            <li><a href="../login/" class="btn btn-round btn-default">Log In</a></li>
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div><!--  end container-->
  <div class='blurred-container'>
    <div class="motto">
      <div class="border no-bottom-border">Our </div><div class="border">Mission</div>

    </div>
    <div class="img-src" style="background-image: url({% static 'aircloud/img/cover_4.jpg'%})"></div>
    <div class='img-src blur' style="background-image: url({% static 'aircloud/img/cover_4_blur.jpg'%})"></div>
  </div>
</div>


<div class="main">
  <div class="container airmap-container`">

    <div class="airmap-title">
      <h2>The AirDevice</h2>
    </div>

    <div class="row airmap-row">
      <div class="col-md-12">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ultrices urna in dignissim dictum. Maecenas commodo nec augue in elementum. Suspendisse potenti. Pellentesque scelerisque lectus quis mi tempor elementum. Ut feugiat libero id lacus lacinia aliquet non ut nunc. In auctor maximus venenatis. Sed interdum risus nec porttitor lobortis. Phasellus sed quam quis lectus aliquet maximus.
        </p>
        <p>
Fusce convallis tellus condimentum erat efficitur sodales quis ac nisi. Cras porta augue nibh, sed porta velit tincidunt vitae. Quisque fermentum sit amet odio aliquam accumsan. Donec sed convallis purus, mollis ultricies tortor. Mauris viverra quis lorem a pellentesque. Nulla vel semper lectus. Suspendisse ac elit turpis. Etiam hendrerit ipsum id nisl sagittis, eu tempor mi feugiat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla augue diam, vestibulum eu est id, molestie laoreet orci. Suspendisse vel lacus sed risus ullamcorper dapibus nec et nunc. Maecenas volutpat ac sem vel varius. Nunc velit erat, fringilla et efficitur sed, lacinia sit amet purus.
        </p>
        <p>
Donec blandit, urna in rhoncus tincidunt, augue arcu vulputate magna, id faucibus dolor lacus id orci. Cras nec eleifend odio. Integer nec arcu et ante lacinia congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer a laoreet libero. Nulla sit amet augue eu leo consectetur euismod id nec felis. Nullam pellentesque lacinia molestie. Morbi ac efficitur tortor, eget aliquet felis. Nulla nulla enim, venenatis vitae nisl ut, venenatis efficitur risus. Proin et facilisis justo. Donec fermentum dolor a justo porta porttitor. Donec et feugiat lacus, sit amet dictum orci.
        </p>
      </div>
    </div>

    <div class="airmap-title">
      <h2>AirCloud</h2>
    </div>
    <div class="row airmap-row">
      <div class="col-md-12">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ultrices urna in dignissim dictum. Maecenas commodo nec augue in elementum. Suspendisse potenti. Pellentesque scelerisque lectus quis mi tempor elementum. Ut feugiat libero id lacus lacinia aliquet non ut nunc. In auctor maximus venenatis. Sed interdum risus nec porttitor lobortis. Phasellus sed quam quis lectus aliquet maximus.
        </p>
        <p>
Fusce convallis tellus condimentum erat efficitur sodales quis ac nisi. Cras porta augue nibh, sed porta velit tincidunt vitae. Quisque fermentum sit amet odio aliquam accumsan. Donec sed convallis purus, mollis ultricies tortor. Mauris viverra quis lorem a pellentesque. Nulla vel semper lectus. Suspendisse ac elit turpis. Etiam hendrerit ipsum id nisl sagittis, eu tempor mi feugiat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla augue diam, vestibulum eu est id, molestie laoreet orci. Suspendisse vel lacus sed risus ullamcorper dapibus nec et nunc. Maecenas volutpat ac sem vel varius. Nunc velit erat, fringilla et efficitur sed, lacinia sit amet purus.
        </p>
        <p>
Donec blandit, urna in rhoncus tincidunt, augue arcu vulputate magna, id faucibus dolor lacus id orci. Cras nec eleifend odio. Integer nec arcu et ante lacinia congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer a laoreet libero. Nulla sit amet augue eu leo consectetur euismod id nec felis. Nullam pellentesque lacinia molestie. Morbi ac efficitur tortor, eget aliquet felis. Nulla nulla enim, venenatis vitae nisl ut, venenatis efficitur risus. Proin et facilisis justo. Donec fermentum dolor a justo porta porttitor. Donec et feugiat lacus, sit amet dictum orci.
        </p>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'aircloud/js/vendor/jquery-1.12.0.min.js' %}"></script>
<script src="{% static 'aircloud/js/vendor/modernizr-2.8.3.min.js' %}"></script>
<script src="{% static 'aircloud/js/plugins.js' %}"></script>

<script src="{% static 'aircloud/js/vendor/jquery-ui.custom.min.js' %}" type="text/javascript"></script>
<script src="{% static 'aircloud/js/vendor/bootstrap.js' %}" type="text/javascript"></script>
<script src="{% static 'aircloud/js/gsdk-bootstrapswitch.js' %}"></script>
<script src="{% static 'aircloud/js/get-shit-done.js' %}"></script>
<script src="{% static 'aircloud/js/custom.js' %}"></script>

</body>
</html>
