<!doctype html>

<head>
    <style>
        html,
        body,
        #map {
          height: 100%;
          width: 100%;
          margin: 0px;
          padding: 0px
        }
    </style>

    {% load static %}
    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDKqViBHdzUdIx9ySyKkp4FHwYRLD-7_s&libraries=visualization,geometry"></script>
</head>

<body>

        <form action='/get_map_data/' id='map-form'>
            Lat1: <input type='text' name='lat1'/><br/>
            Long1: <input type='text' name='lng1'/><br/>
            Lat2: <input type='text' name='lat2'/><br/>
            Long2: <input type='text' name='lng2'/><br/>
            <input type='radio' name='dataSource' value='epaView'/> EPA Data<br/>
            <input type='radio' name='dataSource' value='acView'/> AirCloud Data<br/>
            <input type='submit' value='Refresh'/>
        </form>

    <div id="span"></div>
    <div id="map"></div>

    <script src="{% static 'aircloud/js/map-stuff.js' %}"></script>
</body>
