<!doctype html>
<html class="no-js" lang="">

<head>
    <!-- my google api key -->
    <!-- AIzaSyBDKqViBHdzUdIx9ySyKkp4FHwYRLD-7_s -->

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AirMap - Get reliable local pollution</title>
    <meta name="description" content="">
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <!-- bootstrap -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'aircloud/css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'aircloud/css/bootstrap/bootstrap-datetimepicker.min.css' %}">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- Custom styles for this template -->
    <link href="{% static 'aircloud/css/gsdk.css' %}" rel="stylesheet">
    <link href="{% static 'aircloud/css/airmap.css' %}" rel="stylesheet">
    <!--     Font Awesome     -->
    <link href="{% static 'aircloud/css/bootstrap/font-awesome.css' %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
    </script>

</head>
<body>
<div id="navbar-full">
  <div class="container">
    <nav class="navbar navbar-ct-blue navbar-transparent navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#">
            <div class="logo-container">
              <div class="logo">
                <img src="{% static 'aircloud/img/airmap.png' %}"/>
              </div>
              <div class="brand">
                <br>AirMap
              </div>
            </div>
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="..">Home</a></li>
            <li><a href="about/">About</a></li>
            {% if username %}
            <li><a href="login/" class="btn btn-round btn-default">Logged in as {{ username }}</a></li>
            {% else %}
            <li><a href="login/" class="btn btn-round btn-default">Log In</a></li>
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div><!--  end container-->
  <div class='blurred-container'>
    <div class="motto">
      <div>local</div>
      <div class="border no-bottom-border">  air </div><div class="border">quality</div>

    </div>
    <div class="img-src" style="background-image: url({% static 'aircloud/img/cover_4.jpg'%})"></div>
    <div class='img-src blur' style="background-image: url({% static 'aircloud/img/cover_4_blur.jpg'%})"></div>
  </div>
</div>


<div class="main">
  <div class="container airmap-container`">

    <div class="airmap-title">
      <h2>search data</h2>
    </div>

    <div class="row airmap-row">
      <form id='map-form'>
        <div class="row">
          <div class="col-sm-4">
            <label class="radio checked">
              <input type="radio" data-toggle="radio" id="optionsRadios1" name='dataSource' value='ozone'>
              <h6>Ozone</h6>
            </label>
          </div>
          <div class="col-sm-4">
            <label class="radio">
              <input type="radio" data-toggle="radio" id="optionsRadios2" name='dataSource' value='pm25'>
              <h6>PM 2.5</h6>
            </label>
          </div>
          <div class="col-sm-4">
            <label class="radio">
              <input type="radio" data-toggle="radio" id="optionsRadios3" name='dataSource' value='pm10'>
              <h6>PM 10 (EPA only)</h6>
            </label>
          </div>
        </div>

        <div id="date-range" class="row">
          <div class="col-sm-2 centered-fg">Start Date</div>
          <div class="col-sm-4 form-group">
            <div class="input-group date" id='dt-start'>
              <input type='text' class="form-control" id='dt-start-txt' style="height:41px"/>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
          <div class="col-sm-2 centered-fg">End Date</div>
          <div class="col-sm-4 form-group">
            <div class="input-group date" id='dt-end'>
              <input type='text' class="form-control" id='dt-end-txt' style="height:41px"/>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>

        <div class="row" id="locator-fields">
          <div class="col-sm-8">
            <div class="form-group">
              <input name="location" type="text" value="" placeholder="Enter Location" class="form-control" />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group centered-fg">
              <button type="button" onclick="$('#coord-fields').show();$('#locator-fields').hide();return false;"
                      class="btn btn-block btn-info btn-round" style="margin-top:0px">By Coordinates</button>
            </div>
          </div>
        </div>
        <div class="row" id="coord-fields" style="display: none;">
          <div class="col-sm-2">
            <div class="form-group">
              <input name="lat1" type="text" value="" placeholder="North Latitude" class="form-control" />
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <input name="lat2" type="text" value="" placeholder="South Latitude" class="form-control" />
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <input name="lng1" type="text" value="" placeholder="West Longitude" class="form-control" />
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <input name="lng2" type="text" value="" placeholder="East Longitude" class="form-control" />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group centered-fg">
              <button type="button" onclick="$('#coord-fields').hide();$('#locator-fields').show();return false;"
                      class="btn btn-block btn-info btn-round" style="margin-top:0px">By Location</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <label class="checkbox ct-azzure" for="epa-cb">
              <input type="checkbox" value="" id="epa-cb" data-toggle="checkbox" checked>
              EPA Data
            </label>
            <label class="checkbox ct-azzure" for="ad-cb">
              <input type="checkbox" value="" id="ad-cb" data-toggle="checkbox" checked>
              AirDevice Data
            </label>
            <label class="checkbox ct-azzure" for="user-ad-cb">
              <input type="checkbox" value="" id="user-ad-cb" data-toggle="checkbox">
              My AirDevices Only
            </label>
          </div>
          <div class="col-sm-3">
            <button name='submit' onClick='buttonSubmitMapForm_onClick(event)' class="btn btn-block btn-lg btn-fill btn-primary btn-round">Submit</button>
          </div>
          <div class="col-sm-3">
            <button name='animate' onClick='buttonAnimateHeatMap_onClick(event)' class="btn btn-block btn-lg btn-info btn-round">Animate</button>
          </div>
          <div class="col-sm-3">
            <button name='live' onClick='buttonLiveData_onClick(event)' class="btn btn-block btn-lg btn-info btn-round">Live</button>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-sm-12">
          <div class="alert alert-danger" id="locator-alert" style="display:none;"><strong>Location Not Found!</strong> Using boundaries of the map.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="map-cont">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div id="map-loading-overlay" style="visibility:hidden"></div>
          <div id="map-loader" class="loader" style="visibility:hidden"></div>
          <div id="map-box">
            <div id="map"></div>
            <div class="legend hidden-xs">
              <h6>Legend</h6>
              <div class="leg-gradient">
                <span class="leg-label leg-above">O3<br>(ppb)</span><span class="leg-label leg-below">PM2.5<br>(ug/m3)</span>
                <span class="leg-left leg-above">15</span><span class="leg-midval leg-above">62</span><span class="leg-right leg-above">110</span>
                <span class="leg-left leg-middle">Healthy</span><span class="leg-mid leg-middle">Moderate</span><span class="leg-right leg-middle">Poor</span>
                <span class="leg-left leg-below">6</span><span class="leg-midval leg-below">23</span><span class="leg-right leg-below">150</span>
              </div>
            </div>
            <div id="map-live-container" style="visibility:hidden">
              <i class="fa fa-circle text-danger blinker"></i>LIVE&nbsp;
              <span id="map-live-date"></span>
            </div>
            <div class="map-info-text-container">
              <div id="map-start-date"></div>
              <div id="map-end-date"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row airmap-row hidden-sm hidden-md hidden-lg hidden-xl">
        <div class="legend">
          <h6>Legend</h6>
          <div class="leg-gradient">
            <span class="leg-label leg-above">O3<br>(ppb)</span><span class="leg-label leg-below">PM2.5<br>(ug/m3)</span>
            <span class="leg-left leg-above">15</span><span class="leg-midval leg-above">62</span><span class="leg-right leg-above">110</span>
            <span class="leg-left leg-middle">Healthy</span><span class="leg-mid leg-middle">Moderate</span><span class="leg-right leg-middle">Poor</span>
            <span class="leg-left leg-below">6</span><span class="leg-midval leg-below">23</span><span class="leg-right leg-below">150</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container airmap-container`">
    <div class="row airmap-row">
      <div id="metrics-head" class="row">
        <h2>Metrics</h2>
        <div class="col-sm-offset-4 col-sm-4">
          <button id="air-data-csv" class="btn btn-block btn-lg btn-fill btn-success disabled" download>Export AirDevice CSV</button>
        </div>
      </div>
      <div id="charts-container" display="_none">
        <div id="pm25-cont">
          <h3>PM 2.5</h3>
          <div id="line_chart_pm25"></div>
          <div class="row">
            <div class="col-sm-offset-4 col-sm-4">
              <button id="pm25-csv" class="btn btn-block btn-lg btn-fill btn-primary" download>Export CSV</button>
            </div>
          </div>
        </div>
        <div id="pm10-cont">
          <h3>PM 10</h3>
          <div id="line_chart_pm10"></div>
          <div class="row">
            <div class="col-sm-offset-4 col-sm-4">
              <button id="pm10-csv" class="btn btn-block btn-lg btn-fill btn-primary" download>Export CSV</button>
            </div>
          </div>
        </div>
        <div id="o3-cont">
          <h3>Ozone</h3>
          <div id="line_chart_ozone"></div>
          <div class="row">
            <div class="col-sm-offset-4 col-sm-4">
              <button id="o3-csv" class="btn btn-block btn-lg btn-fill btn-primary" download>Export CSV</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDKqViBHdzUdIx9ySyKkp4FHwYRLD-7_s&libraries=visualization,geometry"></script>
<script src="{% static 'aircloud/js/vendor/googlecharts.js' %}"></script>
<script src="{% static 'aircloud/js/vendor/jquery-1.12.0.min.js' %}"></script>
<script src="{% static 'aircloud/js/vendor/modernizr-2.8.3.min.js' %}"></script>
<script src="{% static 'aircloud/js/plugins.js' %}"></script>
<script src="{% static 'aircloud/js/main.js' %}"></script>
<script src="{% static 'aircloud/js/charts.js' %}"></script>
<script src="{% static 'aircloud/js/vendor/jquery-ui.custom.min.js' %}" type="text/javascript"></script>
<script src="{% static 'aircloud/js/vendor/bootstrap.js' %}" type="text/javascript"></script>
<script src="{% static 'aircloud/js/gsdk-checkbox.js' %}"></script>
<script src="{% static 'aircloud/js/gsdk-radio.js' %}"></script>
<script src="{% static 'aircloud/js/gsdk-bootstrapswitch.js' %}"></script>
<script src="{% static 'aircloud/js/get-shit-done.js' %}"></script>
<script src="{% static 'aircloud/js/custom.js' %}"></script>
<script src="{% static 'aircloud/js/vendor/moment.min.js' %}"></script>
<script src="{% static 'aircloud/js/vendor/bootstrap-datetimepicker.min.js' %}"></script>


</body>
</html>
