<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="AirMap login">
    <meta name="author" content="Chris Kenyon, Brandon Nguyen">
    {% load static %}
    <link rel="icon" href="{% static 'aircloud/img/favicon.ico' %}">

    <title>Log In</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'aircloud/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'aircloud/css/gsdk.css' %}" rel="stylesheet">
    <link href="{% static 'aircloud/css/airmap.css' %}" rel="stylesheet">

</head>

<body>
<div id="navbar-full">
  <div class="container">
    <nav class="navbar navbar-ct-blue navbar-transparent navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#">
            <div class="logo-container">
              <div class="logo">
                <img src="{% static 'aircloud/img/airmap.png' %}"></a>
              </div>
              <div class="brand">
                <br>AirMap
              </div>
            </div>
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="..">Home</a></li>
            <li><a href="../about/">About</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div><!--  end container-->
  <div class='blurred-container'>
    <div class="motto">
      <div class="border">Log</div><div class="border no-top-border">In</div>

    </div>
    <div class="img-src" style="background-image: url({% static 'aircloud/img/cover_4.jpg'%})"></div>
    <div class='img-src blur' style="background-image: url({% static 'aircloud/img/cover_4_blur.jpg'%})"></div>
  </div>
</div>

<div class="main">
  <div class="container airmap-container`">
    {% if username %}
    <div class="airmap-title">
      <h2>Welcome back, {{ first }}!</h2>
    </div>
    <div class="row airmap-row"id='profile'>
      <div class="col-sm-offset-1 col-sm-8">
        <h3>Username: {{ username }}</h3>
        <h3>Email: {{ email }}</h3>
        <h3>Member since {{ date }} </h3>
      </div>
    </div>
    {% if contrib %}
    <div class="row airmap-row"id='devices'>
      <div class="col-sm-offset-1 col-sm-11 "</div>
        <h3>Your Devices</h3>
      </div>
      {% for dev in devices %}
        <div class='col-sm-offset-1 col-sm-3' style="background-image: url({% static 'aircloud/img/rect.png'%}); background-position:center; height:200px;
                                     background-repeat: no-repeat; text-align:center; align-items:center"><br><br>
          <h4>{{ dev }}</h4>
          <h6>AIRMAP</h6>
        </div>
      {% endfor %}
    </div>
    <div class="row airmap-row"id='device-form'>
      <form onsubmit="addDevice(); return false;">
        <div class="col-sm-offset-1 col-sm-5">
          <div class="form-group">
            <input type="text" class="form-control" id="dev-id" placeholder="Enter Device ID" style="margin-top:5px" required>
          </div>
        </div>
        <div class="col-sm-offset-1 col-sm-5">
          <div class="form-group">
            <button type="submit" id="add-device" class="btn btn-block btn-lg btn-info btn-round" style="margin-top:0px">Add Device</button>
          </div>
        </div>
      </form>
    </div>
    {% else %}
    <div class="row airmap-row"id='api-form'>
      <div class="col-sm-offset-1 col-sm-11 "</div>
        <h4> New AirMap Contributor?</h4>
      </div>
      <form onsubmit="regApiKey(); return false;">
        <div class="col-sm-offset-1 col-sm-5">
          <div class="form-group">
            <input type="text" class="form-control" id="api-key" placeholder="Enter API Key" style="margin-top:5px" required>
          </div>
        </div>
        <div class="col-sm-offset-1 col-sm-5">
          <div class="form-group">
            <button type="submit" id="reg-api-key" class="btn btn-block btn-lg btn-info btn-round" style="margin-top:0px">Register</button>
          </div>
        </div>
      </form>
    </div>
    <div class="row airmap-row"style="text-align:center;">
      <a href="mailto:kenyon.c@husky.neu.edu?subject=Request%20For%20AirMap%20API%20Key" target="_top">Contact us for an API Key!</a>
    </div>
    {% endif %}
    {% else %}
    <div class="airmap-title">
      <h2>Be Part of the Air Pollution Community</h2>
    </div>
    <div class="row airmap-row"id='login-form'>
      <form onsubmit="login();return false;">
        <div class="row">
          <div class="col-sm-offset-4 col-sm-4">
            <div class="form-group">
              <input type="text" class="form-control" id="username" placeholder="Enter Username" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-4 col-sm-4">
            <div class="form-group">
              <input type="password" class="form-control" id="password" placeholder="Enter Password" required>
            </div>
          </div>
        </div>
        <div class="col-sm-offset-4 col-sm-4 col-sm-offset-4">
          <div class="form-group">
            <button type="submit" id="loginbutton" class="btn btn-block btn-lg btn-info btn-round">Log In</button>
          </div>
        </div>
      </form>
    </div>
    <div class="row airmap-row">
      <div class="col-sm-offset-4 col-sm-4" id = 'notification'>
        <div class="alert alert-success" id="success-alert" style="display:none;"></div>
        <div class="alert alert-info" id="info-alert" style="display:none;"></div>
        <div class="alert alert-danger" id="danger-alert" style="display:none;"></div>
      </div>
    </div>
    <div class="row airmap-row" id="register-link">
      <div class = col-sm-12>
        <h5>New to AirMap?</h5>
        <a id="regbutton" href="#login-form">Register</a>
      </div>
    </div>
    {% endif %}
  </div><!-- /.container -->
</div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'aircloud/js/vendor/jquery-1.12.0.min.js' %}"><\/script>')</script>
    <script src="{% static 'aircloud/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'aircloud/js/login.js' %}"></script>
	<script src="{% static 'aircloud/js/vendor/jquery-ui.custom.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'aircloud/js/vendor/bootstrap.js' %}" type="text/javascript"></script>
	<script src="{% static 'aircloud/js/get-shit-done.js' %}"></script>
	<script src="{% static 'aircloud/js/gsdk-bootstrapswitch.js' %}"></script>
    <script src="{% static 'aircloud/js/custom.js' %}"></script>
  </body>
</html>

