<form onsubmit="createNewUser(); return false;">
  <div class="col-sm-4">
    <div class="form-group ">
      <input type="text" class="form-control" id="username" placeholder="Enter Username" required>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group ">
      <input type="password" class="form-control" id="password" placeholder="Enter Password" required>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group ">
      <input type="text" class="form-control" id="first" placeholder="First Name" required>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group ">
      <input type="text" class="form-control" id="last" placeholder="Last Name" required>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group ">
      <input type="email" class="form-control" id="email" placeholder="Email" required>
    </div>
  </div>
  <div class="col-sm-offset-4 col-sm-4 col-sm-offset-4">
    <div class="form-group ">
      <button type="submit" id="createbutton" class="btn btn-block btn-lg btn-info btn-round">Create User</button>
    </div>
  </div>
</form>
