<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="AirMap login">
    <meta name="author" content="Chris Kenyon, Brandon Nguyen">
    {% load static %}
    <link rel="icon" href="{% static 'aircloud/img/favicon.ico' %}">

    <title>Log In</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'aircloud/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'aircloud/css/aircloud.css' %}" rel="stylesheet">

  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top"style="background-image: url({% static 'aircloud/img/sky.jpg' %});">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-left"><img src="{% static 'aircloud/img/airmap.png' %}"></a>
          <!--a class="navbar-brand" href="#">AirMap</a-->
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="..">Home</a></li>
            {% if username %}
            <li><a href="">Logged in as {{ username }}</a></li>
            {% endif %}
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class = 'col-xs-offset-2 col-xs-8 col-xs-offset-2'>
           <h2 class="main-title">{{ first }} {{ last }}</h2>
           <h4> member since {{ date }} </h4>
        </div>
        <div class = 'col-xs-offset-3 col-xs-6 col-xs-offset-3'</div>
          <form class="form-horizontal">
            <div class="form-group">
              <label class = "control-label" for="register">Register an AirDevice!</label>
              <input type="text" class="form-control" id="register" placeholder="Enter Device ID found on Label" required>
            </div>
            <div class="form-group">
              <input id="register_device" class="btn btn-primary" type="button" value="Register">
            </div>
          </form>
        </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'aircloud/js/vendor/jquery-1.12.0.min.js' %}"><\/script>')</script>
    <script src="{% static 'aircloud/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'aircloud/js/login.js' %}"></script>
  </body>
</html>

